.text-center{
    text-align: center;
    margin-bottom: 1.8rem;
}
.label{
    font-weight: 600;
    display: inline-block;
    margin-right: 8px;
}
.nftGrid{
    display: grid;    
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .nftGrid{
        grid-template-columns: repeat(2, 1fr);
    }    
}

@media screen and (min-width: 992px) {
    .nftGrid{
        grid-template-columns: repeat(3, 1fr);
    }    
}